@model ControleAcesso
@{
    ViewBag.Title = "Comissões";
}
<div id="promotion">
</div>

@{
    string message = "Acesso não permitido";

    if (Model != null && Model.STATUS == "A")
    {
        message = "Acesso autorizado via Active Directory";
    }
}

<ul id="controleacesso">
    <li>@message</li>
</ul>

