USE [master]
GO
/****** Object:  Database [Comissoes]    Script Date: 04/09/2015 10:42:28 ******/
CREATE DATABASE [Comissoes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Comissoes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Comissoes.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Comissoes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Comissoes_log.ldf' , SIZE = 757248KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Comissoes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Comissoes]
GO
/****** Object:  Table [dbo].[COMIS_AUSENCIA_REMUNERADA]    Script Date: 04/09/2015 10:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMIS_AUSENCIA_REMUNERADA](
	[ID_AUSENCIA_REMUNERADA] [int] IDENTITY(1,1) NOT NULL,
	[COLABORADORKEY] [int] NOT NULL,
	[DESC_AUSENCIA] [nvarchar](255) NOT NULL,
	[DT_INI] [datetime] NOT NULL,
	[DT_FIM] [datetime] NOT NULL,
	[STATUS] [nvarchar](1) NOT NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[CREATED_USERNAME] [nvarchar](255) NOT NULL,
	[LAST_MODIFY_DATE] [datetime] NOT NULL,
	[LAST_MODIFY_USERNAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_COMIS_AUSENCIA_REMUNERADA_1] PRIMARY KEY CLUSTERED 
(
	[ID_AUSENCIA_REMUNERADA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMIS_CATEGORIA]    Script Date: 04/09/2015 10:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMIS_CATEGORIA](
	[ID_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[DESC_CATEGORIA] [nvarchar](255) NOT NULL,
	[TAB_ORIGEM] [nvarchar](255) NOT NULL,
	[COL_ORIGEM] [nvarchar](255) NOT NULL,
	[STATUS] [nvarchar](1) NOT NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[CREATED_USERNAME] [nvarchar](255) NOT NULL,
	[LAST_MODIFY_DATE] [datetime] NOT NULL,
	[LAST_MODIFY_USERNAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_COMIS_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMIS_CATEGORIA_PERCENTUAL]    Script Date: 04/09/2015 10:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMIS_CATEGORIA_PERCENTUAL](
	[ID_CATEGORIA_PERCENTUAL] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLANO_CATEGORIA] [int] NOT NULL,
	[ATRIBUTO] [nvarchar](255) NOT NULL,
	[PERCENTUAL] [decimal](7, 6) NOT NULL,
	[DT_INI] [datetime] NOT NULL,
	[DT_FIM] [datetime] NOT NULL,
	[STATUS] [nvarchar](1) NOT NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[CREATED_USERNAME] [nvarchar](255) NOT NULL,
	[LAST_MODIFY_DATE] [datetime] NOT NULL,
	[LAST_MODIFY_USERNAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_COMIS_CATEGORIA_PERCENTUAL_1] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA_PERCENTUAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMIS_CONTROLE_ACESSO]    Script Date: 04/09/2015 10:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMIS_CONTROLE_ACESSO](
	[COLABORADORKEY] [int] IDENTITY(1,1) NOT NULL,
	[COLABORADORKEY_PAI] [int] NULL,
	[CODIGOSECUNDARIO] [nvarchar](40) NOT NULL,
	[CODIGOEMPRESAALTERNATE] [nchar](2) NOT NULL,
	[CODIGOFILIALALTERNATE] [nvarchar](2) NOT NULL,
	[LOGIN] [nvarchar](255) NOT NULL,
	[ADMIN] [nchar](1) NOT NULL,
	[STATUS] [nvarchar](1) NOT NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[CREATED_USERNAME] [nvarchar](255) NOT NULL,
	[LAST_MODIFY_DATE] [datetime] NOT NULL,
	[LAST_MODIFY_USERNAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_COMIS_CONTROLE_ACESSO] PRIMARY KEY CLUSTERED 
(
	[COLABORADORKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMIS_DOLAR_MEDIO]    Script Date: 04/09/2015 10:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMIS_DOLAR_MEDIO](
	[ID_DOLAR_MEDIO] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLANO] [int] NOT NULL,
	[TIPO_TAXA] [nvarchar](1) NOT NULL,
	[VALOR_DOLAR_MEDIO] [money] NULL,
	[DT_INI] [datetime] NULL,
	[DT_FIM] [datetime] NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[CREATED_USERNAME] [nvarchar](255) NOT NULL,
	[LAST_MODIFY_DATE] [datetime] NOT NULL,
	[LAST_MODIFY_USERNAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_COMIS_DOLAR_MEDIO_1] PRIMARY KEY CLUSTERED 
(
	[ID_DOLAR_MEDIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMIS_DSR]    Script Date: 04/09/2015 10:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMIS_DSR](
	[ID_DSR] [int] IDENTITY(1,1) NOT NULL,
	[CODIGOLOJAALTERNATE] [nvarchar](10) NOT NULL,
	[PERCENTUAL] [decimal](7, 6) NOT NULL,
	[DT_INI] [datetime] NOT NULL,
	[DT_FIM] [datetime] NOT NULL,
	[STATUS] [nvarchar](1) NOT NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[CREATED_USERNAME] [nvarchar](255) NOT NULL,
	[LAST_MODIFY_DATE] [datetime] NOT NULL,
	[LAST_MODIFY_USERNAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_COMIS_DSR] PRIMARY KEY CLUSTERED 
(
	[ID_DSR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMIS_PLANO]    Script Date: 04/09/2015 10:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMIS_PLANO](
	[ID_PLANO] [int] IDENTITY(1,1) NOT NULL,
	[DESC_PLANO] [nvarchar](255) NOT NULL,
	[DT_INI] [datetime] NOT NULL,
	[DT_FIM] [datetime] NOT NULL,
	[STATUS] [nvarchar](1) NOT NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[CREATED_USERNAME] [nvarchar](255) NOT NULL,
	[LAST_MODIFY_DATE] [datetime] NOT NULL,
	[LAST_MODIFY_USERNAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_COMIS_PLANO] PRIMARY KEY CLUSTERED 
(
	[ID_PLANO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMIS_PLANO_CATEGORIA]    Script Date: 04/09/2015 10:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMIS_PLANO_CATEGORIA](
	[ID_PLANO_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLANO] [int] NOT NULL,
	[ID_CATEGORIA] [int] NOT NULL,
	[ORDEM_HIERARQUIA] [int] NOT NULL,
	[DT_INI] [datetime] NOT NULL,
	[DT_FIM] [datetime] NOT NULL,
	[STATUS] [nvarchar](1) NOT NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[CREATED_USERNAME] [nvarchar](255) NOT NULL,
	[LAST_MODIFY_DATE] [datetime] NOT NULL,
	[LAST_MODIFY_USERNAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_COMIS_PLANO_CATEGORIA_1] PRIMARY KEY CLUSTERED 
(
	[ID_PLANO_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMIS_PLANO_LOJA]    Script Date: 04/09/2015 10:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMIS_PLANO_LOJA](
	[ID_PLANO_LOJA] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLANO] [int] NOT NULL,
	[CODIGOLOJAALTERNATE] [nvarchar](10) NOT NULL,
	[DT_INI] [datetime] NOT NULL,
	[DT_FIM] [datetime] NOT NULL,
	[STATUS] [nvarchar](1) NOT NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[CREATED_USERNAME] [nvarchar](255) NOT NULL,
	[LAST_MODIFY_DATE] [datetime] NOT NULL,
	[LAST_MODIFY_USERNAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_COMIS_PLANO_LOJA] PRIMARY KEY CLUSTERED 
(
	[ID_PLANO_LOJA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMIS_SELF_SERVICE]    Script Date: 04/09/2015 10:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMIS_SELF_SERVICE](
	[ID_SELF_SERVICE] [int] IDENTITY(1,1) NOT NULL,
	[CODIGOCARGOALTERNATE] [nvarchar](2) NOT NULL,
	[CODIGOLOJAALTERNATE] [nvarchar](10) NOT NULL,
	[DT_INI] [datetime] NOT NULL,
	[DT_FIM] [datetime] NOT NULL,
	[STATUS] [nvarchar](1) NOT NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[CREATED_USERNAME] [nvarchar](255) NOT NULL,
	[LAST_MODIFY_DATE] [datetime] NOT NULL,
	[LAST_MODIFY_USERNAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_COMIS_SELF_SERVICE] PRIMARY KEY CLUSTERED 
(
	[ID_SELF_SERVICE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[COMIS_AUSENCIA_REMUNERADA] ON 

INSERT [dbo].[COMIS_AUSENCIA_REMUNERADA] ([ID_AUSENCIA_REMUNERADA], [COLABORADORKEY], [DESC_AUSENCIA], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (1, 1, N'Doença', CAST(N'2015-06-23 00:00:00.000' AS DateTime), CAST(N'2015-06-25 00:00:00.000' AS DateTime), N'A', CAST(N'2015-07-21 16:43:16.930' AS DateTime), N'roberto.hermes', CAST(N'2015-07-21 16:43:16.930' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_AUSENCIA_REMUNERADA] ([ID_AUSENCIA_REMUNERADA], [COLABORADORKEY], [DESC_AUSENCIA], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (3, 1, N'Doença', CAST(N'2015-06-23 00:00:00.000' AS DateTime), CAST(N'2015-06-25 00:00:00.000' AS DateTime), N'I', CAST(N'2015-07-21 16:43:16.933' AS DateTime), N'roberto.hermes', CAST(N'2015-07-21 16:43:16.933' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_AUSENCIA_REMUNERADA] ([ID_AUSENCIA_REMUNERADA], [COLABORADORKEY], [DESC_AUSENCIA], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (4, 1, N'Doença', CAST(N'2015-06-23 00:00:00.000' AS DateTime), CAST(N'2015-06-25 00:00:00.000' AS DateTime), N'I', CAST(N'2015-07-21 16:43:16.933' AS DateTime), N'roberto.hermes', CAST(N'2015-07-21 16:43:16.933' AS DateTime), N'roberto.hermes')
SET IDENTITY_INSERT [dbo].[COMIS_AUSENCIA_REMUNERADA] OFF
SET IDENTITY_INSERT [dbo].[COMIS_CATEGORIA] ON 

INSERT [dbo].[COMIS_CATEGORIA] ([ID_CATEGORIA], [DESC_CATEGORIA], [TAB_ORIGEM], [COL_ORIGEM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (1, N'Cargo', N'Tabela 1ffff', N'Coluna 1', N'A', CAST(N'2015-07-22 10:47:39.620' AS DateTime), N'roberto.hermes', CAST(N'2015-08-24 14:27:04.487' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_CATEGORIA] ([ID_CATEGORIA], [DESC_CATEGORIA], [TAB_ORIGEM], [COL_ORIGEM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (6, N'Item', N'Tabela 1', N'Coluna 1', N'A', CAST(N'2015-07-30 16:22:16.143' AS DateTime), N'roberto.hermes', CAST(N'2015-07-30 16:22:16.143' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_CATEGORIA] ([ID_CATEGORIA], [DESC_CATEGORIA], [TAB_ORIGEM], [COL_ORIGEM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (7, N'Subgrupo', N'Tabela 1', N'Coluna 1', N'A', CAST(N'2015-07-30 16:22:16.143' AS DateTime), N'roberto.hermes', CAST(N'2015-07-30 16:22:16.143' AS DateTime), N'roberto.hermes')
SET IDENTITY_INSERT [dbo].[COMIS_CATEGORIA] OFF
SET IDENTITY_INSERT [dbo].[COMIS_CONTROLE_ACESSO] ON 

INSERT [dbo].[COMIS_CONTROLE_ACESSO] ([COLABORADORKEY], [COLABORADORKEY_PAI], [CODIGOSECUNDARIO], [CODIGOEMPRESAALTERNATE], [CODIGOFILIALALTERNATE], [LOGIN], [ADMIN], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (1, NULL, N'0261', N'02', N'01', N'roberto.hermes', N'S', N'A', CAST(N'2015-06-02 10:46:41.983' AS DateTime), N'roberto.hermes', CAST(N'2015-06-02 10:46:41.983' AS DateTime), N'roberto.hermes')
SET IDENTITY_INSERT [dbo].[COMIS_CONTROLE_ACESSO] OFF
SET IDENTITY_INSERT [dbo].[COMIS_DOLAR_MEDIO] ON 

INSERT [dbo].[COMIS_DOLAR_MEDIO] ([ID_DOLAR_MEDIO], [ID_PLANO], [TIPO_TAXA], [VALOR_DOLAR_MEDIO], [DT_INI], [DT_FIM], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (1, 1, N'M', 3.4500, CAST(N'2015-06-01 00:00:00.000' AS DateTime), CAST(N'2015-06-30 00:00:00.000' AS DateTime), CAST(N'2015-07-22 10:37:03.693' AS DateTime), N'roberto.hermes', CAST(N'2015-08-28 13:25:45.107' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_DOLAR_MEDIO] ([ID_DOLAR_MEDIO], [ID_PLANO], [TIPO_TAXA], [VALOR_DOLAR_MEDIO], [DT_INI], [DT_FIM], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (2, 1, N'D', NULL, CAST(N'2015-07-01 00:00:00.000' AS DateTime), CAST(N'2015-07-31 00:00:00.000' AS DateTime), CAST(N'2015-07-22 10:37:14.130' AS DateTime), N'roberto.hermes', CAST(N'2015-07-22 10:37:14.130' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_DOLAR_MEDIO] ([ID_DOLAR_MEDIO], [ID_PLANO], [TIPO_TAXA], [VALOR_DOLAR_MEDIO], [DT_INI], [DT_FIM], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (3, 1, N'M', 3.5000, CAST(N'2015-08-01 00:00:00.000' AS DateTime), CAST(N'2015-08-31 00:00:00.000' AS DateTime), CAST(N'2015-08-27 18:14:36.707' AS DateTime), N'roberto.hermes', CAST(N'2015-08-27 18:14:36.707' AS DateTime), N'roberto.hermes')
SET IDENTITY_INSERT [dbo].[COMIS_DOLAR_MEDIO] OFF
SET IDENTITY_INSERT [dbo].[COMIS_DSR] ON 

INSERT [dbo].[COMIS_DSR] ([ID_DSR], [CODIGOLOJAALTERNATE], [PERCENTUAL], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (26, N'02LEGACYP6', CAST(0.020000 AS Decimal(7, 6)), CAST(N'2015-06-23 00:00:00.000' AS DateTime), CAST(N'2015-06-25 00:00:00.000' AS DateTime), N'A', CAST(N'2015-07-21 18:04:51.470' AS DateTime), N'roberto.hermes', CAST(N'2015-07-21 18:04:51.470' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_DSR] ([ID_DSR], [CODIGOLOJAALTERNATE], [PERCENTUAL], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (28, N'02LEGACYP6', CAST(0.020000 AS Decimal(7, 6)), CAST(N'2015-06-23 00:00:00.000' AS DateTime), CAST(N'2015-06-25 00:00:00.000' AS DateTime), N'I', CAST(N'2015-07-21 18:04:51.480' AS DateTime), N'roberto.hermes', CAST(N'2015-07-21 18:04:51.480' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_DSR] ([ID_DSR], [CODIGOLOJAALTERNATE], [PERCENTUAL], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (29, N'02LEGACYP6', CAST(0.020000 AS Decimal(7, 6)), CAST(N'2015-06-23 00:00:00.000' AS DateTime), CAST(N'2015-06-25 00:00:00.000' AS DateTime), N'I', CAST(N'2015-07-21 18:04:51.480' AS DateTime), N'roberto.hermes', CAST(N'2015-07-21 18:04:51.480' AS DateTime), N'roberto.hermes')
SET IDENTITY_INSERT [dbo].[COMIS_DSR] OFF
SET IDENTITY_INSERT [dbo].[COMIS_PLANO] ON 

INSERT [dbo].[COMIS_PLANO] ([ID_PLANO], [DESC_PLANO], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (1, N'Plano de Comissões XYZ', CAST(N'2015-08-03 00:00:00.000' AS DateTime), CAST(N'2015-08-31 00:00:00.000' AS DateTime), N'A', CAST(N'2015-07-21 18:41:05.697' AS DateTime), N'roberto.hermes', CAST(N'2015-09-03 15:12:25.080' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_PLANO] ([ID_PLANO], [DESC_PLANO], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (3, N'Plano Teste', CAST(N'2015-06-23 00:00:00.000' AS DateTime), CAST(N'2015-06-25 00:00:00.000' AS DateTime), N'I', CAST(N'2015-07-21 18:41:05.697' AS DateTime), N'roberto.hermes', CAST(N'2015-07-21 18:41:05.697' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_PLANO] ([ID_PLANO], [DESC_PLANO], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (4, N'Plano Teste', CAST(N'2015-06-23 00:00:00.000' AS DateTime), CAST(N'2015-06-25 00:00:00.000' AS DateTime), N'I', CAST(N'2015-07-21 18:41:05.697' AS DateTime), N'roberto.hermes', CAST(N'2015-07-21 18:41:05.697' AS DateTime), N'roberto.hermes')
SET IDENTITY_INSERT [dbo].[COMIS_PLANO] OFF
SET IDENTITY_INSERT [dbo].[COMIS_SELF_SERVICE] ON 

INSERT [dbo].[COMIS_SELF_SERVICE] ([ID_SELF_SERVICE], [CODIGOCARGOALTERNATE], [CODIGOLOJAALTERNATE], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (1, N'AI', N'3022510561', CAST(N'2015-06-23 00:00:00.000' AS DateTime), CAST(N'2015-06-25 00:00:00.000' AS DateTime), N'A', CAST(N'2015-07-21 18:28:59.797' AS DateTime), N'roberto.hermes', CAST(N'2015-08-31 16:42:20.200' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_SELF_SERVICE] ([ID_SELF_SERVICE], [CODIGOCARGOALTERNATE], [CODIGOLOJAALTERNATE], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (3, N'AD', N'02LEGACYP6', CAST(N'2015-06-23 00:00:00.000' AS DateTime), CAST(N'2015-06-25 00:00:00.000' AS DateTime), N'I', CAST(N'2015-07-21 18:28:59.797' AS DateTime), N'roberto.hermes', CAST(N'2015-07-21 18:28:59.797' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_SELF_SERVICE] ([ID_SELF_SERVICE], [CODIGOCARGOALTERNATE], [CODIGOLOJAALTERNATE], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (4, N'AD', N'02LEGACYP6', CAST(N'2015-06-23 00:00:00.000' AS DateTime), CAST(N'2015-06-25 00:00:00.000' AS DateTime), N'I', CAST(N'2015-07-21 18:28:59.797' AS DateTime), N'roberto.hermes', CAST(N'2015-07-21 18:28:59.797' AS DateTime), N'roberto.hermes')
SET IDENTITY_INSERT [dbo].[COMIS_SELF_SERVICE] OFF
/****** Object:  Index [UQ_COMIS_DOLAR_MEDIO_ID_PLANO_DT_INI_DT_FIM]    Script Date: 04/09/2015 10:42:28 ******/
ALTER TABLE [dbo].[COMIS_DOLAR_MEDIO] ADD  CONSTRAINT [UQ_COMIS_DOLAR_MEDIO_ID_PLANO_DT_INI_DT_FIM] UNIQUE NONCLUSTERED 
(
	[ID_PLANO] ASC,
	[DT_INI] ASC,
	[DT_FIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COMIS_AUSENCIA_REMUNERADA]  WITH CHECK ADD  CONSTRAINT [FK_COMIS_AUSENCIA_REMUNERADA_COMIS_CONTROLE_ACESSO] FOREIGN KEY([COLABORADORKEY])
REFERENCES [dbo].[COMIS_CONTROLE_ACESSO] ([COLABORADORKEY])
GO
ALTER TABLE [dbo].[COMIS_AUSENCIA_REMUNERADA] CHECK CONSTRAINT [FK_COMIS_AUSENCIA_REMUNERADA_COMIS_CONTROLE_ACESSO]
GO
ALTER TABLE [dbo].[COMIS_CATEGORIA_PERCENTUAL]  WITH CHECK ADD  CONSTRAINT [FK_COMIS_CATEGORIA_PERCENTUAL_COMIS_PLANO_CATEGORIA] FOREIGN KEY([ID_PLANO_CATEGORIA])
REFERENCES [dbo].[COMIS_PLANO_CATEGORIA] ([ID_PLANO_CATEGORIA])
GO
ALTER TABLE [dbo].[COMIS_CATEGORIA_PERCENTUAL] CHECK CONSTRAINT [FK_COMIS_CATEGORIA_PERCENTUAL_COMIS_PLANO_CATEGORIA]
GO
ALTER TABLE [dbo].[COMIS_CONTROLE_ACESSO]  WITH CHECK ADD  CONSTRAINT [FK_COMIS_CONTROLE_ACESSO_COMIS_CONTROLE_ACESSO] FOREIGN KEY([COLABORADORKEY_PAI])
REFERENCES [dbo].[COMIS_CONTROLE_ACESSO] ([COLABORADORKEY])
GO
ALTER TABLE [dbo].[COMIS_CONTROLE_ACESSO] CHECK CONSTRAINT [FK_COMIS_CONTROLE_ACESSO_COMIS_CONTROLE_ACESSO]
GO
ALTER TABLE [dbo].[COMIS_DOLAR_MEDIO]  WITH CHECK ADD  CONSTRAINT [FK_COMIS_DOLAR_MEDIO_COMIS_PLANO1] FOREIGN KEY([ID_PLANO])
REFERENCES [dbo].[COMIS_PLANO] ([ID_PLANO])
GO
ALTER TABLE [dbo].[COMIS_DOLAR_MEDIO] CHECK CONSTRAINT [FK_COMIS_DOLAR_MEDIO_COMIS_PLANO1]
GO
ALTER TABLE [dbo].[COMIS_PLANO_CATEGORIA]  WITH CHECK ADD  CONSTRAINT [FK_COMIS_PLANO_CATEGORIA_COMIS_CATEGORIA] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[COMIS_CATEGORIA] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[COMIS_PLANO_CATEGORIA] CHECK CONSTRAINT [FK_COMIS_PLANO_CATEGORIA_COMIS_CATEGORIA]
GO
ALTER TABLE [dbo].[COMIS_PLANO_CATEGORIA]  WITH CHECK ADD  CONSTRAINT [FK_COMIS_PLANO_CATEGORIA_COMIS_PLANO] FOREIGN KEY([ID_PLANO])
REFERENCES [dbo].[COMIS_PLANO] ([ID_PLANO])
GO
ALTER TABLE [dbo].[COMIS_PLANO_CATEGORIA] CHECK CONSTRAINT [FK_COMIS_PLANO_CATEGORIA_COMIS_PLANO]
GO
ALTER TABLE [dbo].[COMIS_PLANO_LOJA]  WITH CHECK ADD  CONSTRAINT [FK_COMIS_PLANO_LOJA_COMIS_PLANO] FOREIGN KEY([ID_PLANO])
REFERENCES [dbo].[COMIS_PLANO] ([ID_PLANO])
GO
ALTER TABLE [dbo].[COMIS_PLANO_LOJA] CHECK CONSTRAINT [FK_COMIS_PLANO_LOJA_COMIS_PLANO]
GO
ALTER TABLE [dbo].[COMIS_AUSENCIA_REMUNERADA]  WITH CHECK ADD  CONSTRAINT [CK_COMIS_AUSENCIA_REMUNERADA_STATUS] CHECK  (([STATUS]='I' OR [STATUS]='A'))
GO
ALTER TABLE [dbo].[COMIS_AUSENCIA_REMUNERADA] CHECK CONSTRAINT [CK_COMIS_AUSENCIA_REMUNERADA_STATUS]
GO
ALTER TABLE [dbo].[COMIS_CATEGORIA]  WITH CHECK ADD  CONSTRAINT [CK_COMIS_CATEGORIA_STATUS] CHECK  (([STATUS]='I' OR [STATUS]='A'))
GO
ALTER TABLE [dbo].[COMIS_CATEGORIA] CHECK CONSTRAINT [CK_COMIS_CATEGORIA_STATUS]
GO
ALTER TABLE [dbo].[COMIS_CATEGORIA_PERCENTUAL]  WITH CHECK ADD  CONSTRAINT [CK_COMIS_CATEGORIA_PERCENTUAL_STATUS] CHECK  (([STATUS]='I' OR [STATUS]='A'))
GO
ALTER TABLE [dbo].[COMIS_CATEGORIA_PERCENTUAL] CHECK CONSTRAINT [CK_COMIS_CATEGORIA_PERCENTUAL_STATUS]
GO
ALTER TABLE [dbo].[COMIS_CONTROLE_ACESSO]  WITH CHECK ADD  CONSTRAINT [CK_COMIS_CONTROLE_ACESSO_ADMIN] CHECK  (([ADMIN]='N' OR [ADMIN]='S'))
GO
ALTER TABLE [dbo].[COMIS_CONTROLE_ACESSO] CHECK CONSTRAINT [CK_COMIS_CONTROLE_ACESSO_ADMIN]
GO
ALTER TABLE [dbo].[COMIS_CONTROLE_ACESSO]  WITH CHECK ADD  CONSTRAINT [CK_COMIS_CONTROLE_ACESSO_STATUS] CHECK  (([STATUS]='I' OR [STATUS]='A'))
GO
ALTER TABLE [dbo].[COMIS_CONTROLE_ACESSO] CHECK CONSTRAINT [CK_COMIS_CONTROLE_ACESSO_STATUS]
GO
ALTER TABLE [dbo].[COMIS_DOLAR_MEDIO]  WITH CHECK ADD  CONSTRAINT [CK_COMIS_DOLAR_MEDIO_TIPO_TAXA] CHECK  (([TIPO_TAXA]='D' OR [TIPO_TAXA]='M'))
GO
ALTER TABLE [dbo].[COMIS_DOLAR_MEDIO] CHECK CONSTRAINT [CK_COMIS_DOLAR_MEDIO_TIPO_TAXA]
GO
ALTER TABLE [dbo].[COMIS_DSR]  WITH CHECK ADD  CONSTRAINT [CK_COMIS_DSR_STATUS] CHECK  (([STATUS]='I' OR [STATUS]='A'))
GO
ALTER TABLE [dbo].[COMIS_DSR] CHECK CONSTRAINT [CK_COMIS_DSR_STATUS]
GO
ALTER TABLE [dbo].[COMIS_PLANO]  WITH CHECK ADD  CONSTRAINT [CK_COMIS_PLANO_STATUS] CHECK  (([STATUS]='I' OR [STATUS]='A'))
GO
ALTER TABLE [dbo].[COMIS_PLANO] CHECK CONSTRAINT [CK_COMIS_PLANO_STATUS]
GO
ALTER TABLE [dbo].[COMIS_PLANO_CATEGORIA]  WITH CHECK ADD  CONSTRAINT [CK_COMIS_COMIS_PLANO_CATEGORIA_STATUS] CHECK  (([STATUS]='I' OR [STATUS]='A'))
GO
ALTER TABLE [dbo].[COMIS_PLANO_CATEGORIA] CHECK CONSTRAINT [CK_COMIS_COMIS_PLANO_CATEGORIA_STATUS]
GO
ALTER TABLE [dbo].[COMIS_PLANO_LOJA]  WITH CHECK ADD  CONSTRAINT [CK_COMIS_COMIS_PLANO_LOJA_STATUS] CHECK  (([STATUS]='I' OR [STATUS]='A'))
GO
ALTER TABLE [dbo].[COMIS_PLANO_LOJA] CHECK CONSTRAINT [CK_COMIS_COMIS_PLANO_LOJA_STATUS]
GO
ALTER TABLE [dbo].[COMIS_SELF_SERVICE]  WITH CHECK ADD  CONSTRAINT [CK_COMIS_SELF_SERVICE_STATUS] CHECK  (([STATUS]='I' OR [STATUS]='A'))
GO
ALTER TABLE [dbo].[COMIS_SELF_SERVICE] CHECK CONSTRAINT [CK_COMIS_SELF_SERVICE_STATUS]
GO
USE [master]
GO
