USE [master]
GO
/****** Object:  Database [Comissoes]    Script Date: 20/10/2015 10:46:57 ******/
--CREATE DATABASE [Comissoes]
-- CONTAINMENT = NONE
-- ON  PRIMARY 
--( NAME = N'Comissoes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Comissoes.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
-- LOG ON 
--( NAME = N'Comissoes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Comissoes_log.ldf' , SIZE = 757248KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
--GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Comissoes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
--ALTER DATABASE [Comissoes] SET  DISABLE_BROKER 
--GO
ALTER DATABASE [Comissoes] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
--ALTER DATABASE [Comissoes] SET DATE_CORRELATION_OPTIMIZATION OFF 
--GO
ALTER DATABASE [Comissoes] SET TRUSTWORTHY OFF 
GO
--ALTER DATABASE [Comissoes] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
--GO
ALTER DATABASE [Comissoes] SET TARGET_RECOVERY_TIME = 0 SECONDS 
GO
USE [Comissoes]
GO
/****** Object:  Table [dbo].[COMIS_AUSENCIA_REMUNERADA]    Script Date: 20/10/2015 10:46:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMIS_AUSENCIA_REMUNERADA](
	[ID_AUSENCIA_REMUNERADA] [int] IDENTITY(1,1) NOT NULL,
	[COLABORADORKEY] [int] NOT NULL,
	[DESC_AUSENCIA] [nvarchar](255) NOT NULL,
	[DT_INI] [datetime] NOT NULL,
	[DT_FIM] [datetime] NOT NULL,
	[STATUS] [nvarchar](1) NOT NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[CREATED_USERNAME] [nvarchar](255) NOT NULL,
	[LAST_MODIFY_DATE] [datetime] NOT NULL,
	[LAST_MODIFY_USERNAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_COMIS_AUSENCIA_REMUNERADA_1] PRIMARY KEY CLUSTERED 
(
	[ID_AUSENCIA_REMUNERADA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMIS_CATEGORIA]    Script Date: 20/10/2015 10:46:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMIS_CATEGORIA](
	[ID_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[DESC_CATEGORIA] [nvarchar](255) NOT NULL,
	[TAB_ORIGEM] [nvarchar](255) NOT NULL,
	[COL_ORIGEM] [nvarchar](255) NOT NULL,
	[STATUS] [nvarchar](1) NOT NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[CREATED_USERNAME] [nvarchar](255) NOT NULL,
	[LAST_MODIFY_DATE] [datetime] NOT NULL,
	[LAST_MODIFY_USERNAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_COMIS_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMIS_CATEGORIA_PERCENTUAL]    Script Date: 20/10/2015 10:46:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMIS_CATEGORIA_PERCENTUAL](
	[ID_CATEGORIA_PERCENTUAL] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLANO_CATEGORIA] [int] NOT NULL,
	[ATRIBUTO] [nvarchar](255) NOT NULL,
	[PERCENTUAL] [decimal](7, 6) NOT NULL,
	[DT_INI] [datetime] NOT NULL,
	[DT_FIM] [datetime] NOT NULL,
	[STATUS] [nvarchar](1) NOT NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[CREATED_USERNAME] [nvarchar](255) NOT NULL,
	[LAST_MODIFY_DATE] [datetime] NOT NULL,
	[LAST_MODIFY_USERNAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_COMIS_CATEGORIA_PERCENTUAL_1] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA_PERCENTUAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMIS_CONFIGURACAO]    Script Date: 20/10/2015 10:46:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMIS_CONFIGURACAO](
	[ID_CONFIGURACAO] [int] IDENTITY(1,1) NOT NULL,
	[DESC_CHAVE] [nvarchar](255) NOT NULL,
	[DESC_VALOR] [nvarchar](max) NOT NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[CREATED_USERNAME] [nvarchar](255) NOT NULL,
	[LAST_MODIFY_DATE] [datetime] NOT NULL,
	[LAST_MODIFY_USERNAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_COMIS_CONFIGURACAO] PRIMARY KEY CLUSTERED 
(
	[ID_CONFIGURACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMIS_CONTROLE_ACESSO]    Script Date: 20/10/2015 10:46:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMIS_CONTROLE_ACESSO](
	[COLABORADORKEY] [int] IDENTITY(1,1) NOT NULL,
	[COLABORADORKEY_PAI] [int] NULL,
	[CODIGOSECUNDARIO] [nchar](4) NOT NULL,
	[CODIGOEMPRESAALTERNATE] [nvarchar](20) NOT NULL,
	[CODIGOFILIALALTERNATE] [nvarchar](2) NOT NULL,
	[LOGIN] [nvarchar](255) NOT NULL,
	[ADMIN] [nchar](1) NOT NULL,
	[STATUS] [nvarchar](1) NOT NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[CREATED_USERNAME] [nvarchar](255) NOT NULL,
	[LAST_MODIFY_DATE] [datetime] NOT NULL,
	[LAST_MODIFY_USERNAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_COMIS_CONTROLE_ACESSO] PRIMARY KEY CLUSTERED 
(
	[COLABORADORKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMIS_DOLAR_MEDIO]    Script Date: 20/10/2015 10:46:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMIS_DOLAR_MEDIO](
	[ID_DOLAR_MEDIO] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLANO] [int] NOT NULL,
	[TIPO_TAXA] [nvarchar](1) NOT NULL,
	[VALOR_DOLAR_MEDIO] [money] NULL,
	[DT_INI] [datetime] NULL,
	[DT_FIM] [datetime] NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[CREATED_USERNAME] [nvarchar](255) NOT NULL,
	[LAST_MODIFY_DATE] [datetime] NOT NULL,
	[LAST_MODIFY_USERNAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_COMIS_DOLAR_MEDIO_1] PRIMARY KEY CLUSTERED 
(
	[ID_DOLAR_MEDIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMIS_DSR]    Script Date: 20/10/2015 10:46:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMIS_DSR](
	[ID_DSR] [int] IDENTITY(1,1) NOT NULL,
	[CODIGOLOJAALTERNATE] [nvarchar](10) NOT NULL,
	[PERCENTUAL] [decimal](7, 6) NOT NULL,
	[DT_INI] [datetime] NOT NULL,
	[DT_FIM] [datetime] NOT NULL,
	[STATUS] [nvarchar](1) NOT NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[CREATED_USERNAME] [nvarchar](255) NOT NULL,
	[LAST_MODIFY_DATE] [datetime] NOT NULL,
	[LAST_MODIFY_USERNAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_COMIS_DSR] PRIMARY KEY CLUSTERED 
(
	[ID_DSR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMIS_PLANO]    Script Date: 20/10/2015 10:46:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMIS_PLANO](
	[ID_PLANO] [int] IDENTITY(1,1) NOT NULL,
	[DESC_PLANO] [nvarchar](255) NOT NULL,
	[DT_INI] [datetime] NOT NULL,
	[DT_FIM] [datetime] NOT NULL,
	[STATUS] [nvarchar](1) NOT NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[CREATED_USERNAME] [nvarchar](255) NOT NULL,
	[LAST_MODIFY_DATE] [datetime] NOT NULL,
	[LAST_MODIFY_USERNAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_COMIS_PLANO] PRIMARY KEY CLUSTERED 
(
	[ID_PLANO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMIS_PLANO_CATEGORIA]    Script Date: 20/10/2015 10:46:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMIS_PLANO_CATEGORIA](
	[ID_PLANO_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLANO] [int] NOT NULL,
	[ID_CATEGORIA] [int] NOT NULL,
	[ORDEM_HIERARQUIA] [int] NOT NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[CREATED_USERNAME] [nvarchar](255) NOT NULL,
	[LAST_MODIFY_DATE] [datetime] NOT NULL,
	[LAST_MODIFY_USERNAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_COMIS_PLANO_CATEGORIA_1] PRIMARY KEY CLUSTERED 
(
	[ID_PLANO_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMIS_PLANO_LOJA]    Script Date: 20/10/2015 10:46:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMIS_PLANO_LOJA](
	[ID_PLANO_LOJA] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLANO] [int] NOT NULL,
	[CODIGOLOJAALTERNATE] [nvarchar](10) NOT NULL,
	[DT_INI] [datetime] NOT NULL,
	[DT_FIM] [datetime] NOT NULL,
	[STATUS] [nvarchar](1) NOT NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[CREATED_USERNAME] [nvarchar](255) NOT NULL,
	[LAST_MODIFY_DATE] [datetime] NOT NULL,
	[LAST_MODIFY_USERNAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_COMIS_PLANO_LOJA] PRIMARY KEY CLUSTERED 
(
	[ID_PLANO_LOJA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMIS_SELF_SERVICE]    Script Date: 20/10/2015 10:46:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMIS_SELF_SERVICE](
	[ID_SELF_SERVICE] [int] IDENTITY(1,1) NOT NULL,
	[CODIGOCARGOALTERNATE] [nvarchar](2) NOT NULL,
	[CODIGOLOJAALTERNATE] [nvarchar](10) NOT NULL,
	[DT_INI] [datetime] NOT NULL,
	[DT_FIM] [datetime] NOT NULL,
	[STATUS] [nvarchar](1) NOT NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[CREATED_USERNAME] [nvarchar](255) NOT NULL,
	[LAST_MODIFY_DATE] [datetime] NOT NULL,
	[LAST_MODIFY_USERNAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_COMIS_SELF_SERVICE] PRIMARY KEY CLUSTERED 
(
	[ID_SELF_SERVICE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[COMIS_AUSENCIA_REMUNERADA] ON 

INSERT [dbo].[COMIS_AUSENCIA_REMUNERADA] ([ID_AUSENCIA_REMUNERADA], [COLABORADORKEY], [DESC_AUSENCIA], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (5, 7, N'eeee', CAST(N'2015-09-01 00:00:00.000' AS DateTime), CAST(N'2015-09-30 00:00:00.000' AS DateTime), N'A', CAST(N'2015-09-24 14:39:17.737' AS DateTime), N'roberto.hermes', CAST(N'2015-09-24 15:31:44.750' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_AUSENCIA_REMUNERADA] ([ID_AUSENCIA_REMUNERADA], [COLABORADORKEY], [DESC_AUSENCIA], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (7, 15, N'werqrewrt', CAST(N'2015-09-01 00:00:00.000' AS DateTime), CAST(N'2015-09-30 00:00:00.000' AS DateTime), N'A', CAST(N'2015-09-24 16:26:45.667' AS DateTime), N'roberto.hermes', CAST(N'2015-09-24 16:26:45.667' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_AUSENCIA_REMUNERADA] ([ID_AUSENCIA_REMUNERADA], [COLABORADORKEY], [DESC_AUSENCIA], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (8, 12, N'qqqqq', CAST(N'2015-09-01 00:00:00.000' AS DateTime), CAST(N'2015-09-16 00:00:00.000' AS DateTime), N'I', CAST(N'2015-09-24 16:27:56.790' AS DateTime), N'roberto.hermes', CAST(N'2015-09-24 16:27:56.790' AS DateTime), N'roberto.hermes')
SET IDENTITY_INSERT [dbo].[COMIS_AUSENCIA_REMUNERADA] OFF
SET IDENTITY_INSERT [dbo].[COMIS_CATEGORIA] ON 

INSERT [dbo].[COMIS_CATEGORIA] ([ID_CATEGORIA], [DESC_CATEGORIA], [TAB_ORIGEM], [COL_ORIGEM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (1, N'Cargo', N'Tabela 1ffff', N'Coluna 1', N'A', CAST(N'2015-07-22 10:47:39.620' AS DateTime), N'roberto.hermes', CAST(N'2015-08-24 14:27:04.487' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_CATEGORIA] ([ID_CATEGORIA], [DESC_CATEGORIA], [TAB_ORIGEM], [COL_ORIGEM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (6, N'Item', N'Tabela 1', N'Coluna 1', N'A', CAST(N'2015-07-30 16:22:16.143' AS DateTime), N'roberto.hermes', CAST(N'2015-07-30 16:22:16.143' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_CATEGORIA] ([ID_CATEGORIA], [DESC_CATEGORIA], [TAB_ORIGEM], [COL_ORIGEM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (7, N'Subgrupo', N'Tabela 1', N'Coluna 1', N'A', CAST(N'2015-07-30 16:22:16.143' AS DateTime), N'roberto.hermes', CAST(N'2015-07-30 16:22:16.143' AS DateTime), N'roberto.hermes')
SET IDENTITY_INSERT [dbo].[COMIS_CATEGORIA] OFF
SET IDENTITY_INSERT [dbo].[COMIS_CATEGORIA_PERCENTUAL] ON 

INSERT [dbo].[COMIS_CATEGORIA_PERCENTUAL] ([ID_CATEGORIA_PERCENTUAL], [ID_PLANO_CATEGORIA], [ATRIBUTO], [PERCENTUAL], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (1, 87, N'Atributo 01', CAST(0.020000 AS Decimal(7, 6)), CAST(N'2015-09-01 00:00:00.000' AS DateTime), CAST(N'2015-09-30 00:00:00.000' AS DateTime), N'A', CAST(N'2015-09-14 00:00:00.000' AS DateTime), N'roberto.hermes', CAST(N'2015-09-14 00:00:00.000' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_CATEGORIA_PERCENTUAL] ([ID_CATEGORIA_PERCENTUAL], [ID_PLANO_CATEGORIA], [ATRIBUTO], [PERCENTUAL], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (2, 87, N'Atributo 01', CAST(0.030000 AS Decimal(7, 6)), CAST(N'2015-10-01 00:00:00.000' AS DateTime), CAST(N'2015-10-31 00:00:00.000' AS DateTime), N'A', CAST(N'2015-09-14 00:00:00.000' AS DateTime), N'roberto.hermes', CAST(N'2015-09-14 00:00:00.000' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_CATEGORIA_PERCENTUAL] ([ID_CATEGORIA_PERCENTUAL], [ID_PLANO_CATEGORIA], [ATRIBUTO], [PERCENTUAL], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (3, 87, N'Atributo 01', CAST(0.025000 AS Decimal(7, 6)), CAST(N'2015-11-01 00:00:00.000' AS DateTime), CAST(N'2015-11-30 00:00:00.000' AS DateTime), N'A', CAST(N'2015-09-14 00:00:00.000' AS DateTime), N'roberto.hermes', CAST(N'2015-09-14 00:00:00.000' AS DateTime), N'roberto.hermes')
SET IDENTITY_INSERT [dbo].[COMIS_CATEGORIA_PERCENTUAL] OFF
SET IDENTITY_INSERT [dbo].[COMIS_CONFIGURACAO] ON 

INSERT [dbo].[COMIS_CONFIGURACAO] ([ID_CONFIGURACAO], [DESC_CHAVE], [DESC_VALOR], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (1, N'InterfaceFolhaPagamentoCodigoEmpresa', N'003,042', CAST(N'2015-10-01 00:00:00.000' AS DateTime), N'roberto.hermes', CAST(N'2015-10-01 00:00:00.000' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_CONFIGURACAO] ([ID_CONFIGURACAO], [DESC_CHAVE], [DESC_VALOR], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (2, N'InterfaceFolhaPagamentoCodigoFolhaPagamento', N'620', CAST(N'2015-10-01 00:00:00.000' AS DateTime), N'roberto.hermes', CAST(N'2015-10-01 00:00:00.000' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_CONFIGURACAO] ([ID_CONFIGURACAO], [DESC_CHAVE], [DESC_VALOR], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (3, N'InterfaceFolhaPagamentoCodigoClienteADP', N'1514', CAST(N'2015-10-01 00:00:00.000' AS DateTime), N'roberto.hermes', CAST(N'2015-10-01 00:00:00.000' AS DateTime), N'roberto.hermes')
SET IDENTITY_INSERT [dbo].[COMIS_CONFIGURACAO] OFF
SET IDENTITY_INSERT [dbo].[COMIS_CONTROLE_ACESSO] ON 

INSERT [dbo].[COMIS_CONTROLE_ACESSO] ([COLABORADORKEY], [COLABORADORKEY_PAI], [CODIGOSECUNDARIO], [CODIGOEMPRESAALTERNATE], [CODIGOFILIALALTERNATE], [LOGIN], [ADMIN], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (1, NULL, N'0261', N'2', N'01', N'roberto.hermes', N'S', N'A', CAST(N'2015-06-02 10:46:41.983' AS DateTime), N'roberto.hermes', CAST(N'2015-06-02 10:46:41.983' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_CONTROLE_ACESSO] ([COLABORADORKEY], [COLABORADORKEY_PAI], [CODIGOSECUNDARIO], [CODIGOEMPRESAALTERNATE], [CODIGOFILIALALTERNATE], [LOGIN], [ADMIN], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (7, NULL, N'2818', N'302', N'82', N'blablabla', N'S', N'A', CAST(N'2015-06-02 10:46:41.983' AS DateTime), N'roberto.hermes', CAST(N'2015-06-02 10:46:41.983' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_CONTROLE_ACESSO] ([COLABORADORKEY], [COLABORADORKEY_PAI], [CODIGOSECUNDARIO], [CODIGOEMPRESAALTERNATE], [CODIGOFILIALALTERNATE], [LOGIN], [ADMIN], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (9, 7, N'0023', N'302', N'04', N'fsadgf', N'S', N'A', CAST(N'2015-09-22 16:08:59.810' AS DateTime), N'roberto.hermes', CAST(N'2015-09-22 16:08:59.810' AS DateTime), N'roberto.hermes')
SET IDENTITY_INSERT [dbo].[COMIS_CONTROLE_ACESSO] OFF
SET IDENTITY_INSERT [dbo].[COMIS_DOLAR_MEDIO] ON 

INSERT [dbo].[COMIS_DOLAR_MEDIO] ([ID_DOLAR_MEDIO], [ID_PLANO], [TIPO_TAXA], [VALOR_DOLAR_MEDIO], [DT_INI], [DT_FIM], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (1, 1, N'M', 3.4500, CAST(N'2015-06-01 00:00:00.000' AS DateTime), CAST(N'2015-06-30 00:00:00.000' AS DateTime), CAST(N'2015-07-22 10:37:03.693' AS DateTime), N'roberto.hermes', CAST(N'2015-08-28 13:25:45.107' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_DOLAR_MEDIO] ([ID_DOLAR_MEDIO], [ID_PLANO], [TIPO_TAXA], [VALOR_DOLAR_MEDIO], [DT_INI], [DT_FIM], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (2, 1, N'D', NULL, CAST(N'2015-07-01 00:00:00.000' AS DateTime), CAST(N'2015-07-31 00:00:00.000' AS DateTime), CAST(N'2015-07-22 10:37:14.130' AS DateTime), N'roberto.hermes', CAST(N'2015-07-22 10:37:14.130' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_DOLAR_MEDIO] ([ID_DOLAR_MEDIO], [ID_PLANO], [TIPO_TAXA], [VALOR_DOLAR_MEDIO], [DT_INI], [DT_FIM], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (3, 1, N'M', 3.5000, CAST(N'2015-08-01 00:00:00.000' AS DateTime), CAST(N'2015-08-31 00:00:00.000' AS DateTime), CAST(N'2015-08-27 18:14:36.707' AS DateTime), N'roberto.hermes', CAST(N'2015-08-27 18:14:36.707' AS DateTime), N'roberto.hermes')
SET IDENTITY_INSERT [dbo].[COMIS_DOLAR_MEDIO] OFF
SET IDENTITY_INSERT [dbo].[COMIS_DSR] ON 

INSERT [dbo].[COMIS_DSR] ([ID_DSR], [CODIGOLOJAALTERNATE], [PERCENTUAL], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (26, N'02LEGACYP6', CAST(0.020000 AS Decimal(7, 6)), CAST(N'2015-06-23 00:00:00.000' AS DateTime), CAST(N'2015-06-25 00:00:00.000' AS DateTime), N'A', CAST(N'2015-07-21 18:04:51.470' AS DateTime), N'roberto.hermes', CAST(N'2015-07-21 18:04:51.470' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_DSR] ([ID_DSR], [CODIGOLOJAALTERNATE], [PERCENTUAL], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (28, N'02LEGACYP6', CAST(0.020000 AS Decimal(7, 6)), CAST(N'2015-06-23 00:00:00.000' AS DateTime), CAST(N'2015-06-25 00:00:00.000' AS DateTime), N'I', CAST(N'2015-07-21 18:04:51.480' AS DateTime), N'roberto.hermes', CAST(N'2015-07-21 18:04:51.480' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_DSR] ([ID_DSR], [CODIGOLOJAALTERNATE], [PERCENTUAL], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (29, N'02LEGACYP6', CAST(0.020000 AS Decimal(7, 6)), CAST(N'2015-06-23 00:00:00.000' AS DateTime), CAST(N'2015-06-25 00:00:00.000' AS DateTime), N'I', CAST(N'2015-07-21 18:04:51.480' AS DateTime), N'roberto.hermes', CAST(N'2015-07-21 18:04:51.480' AS DateTime), N'roberto.hermes')
SET IDENTITY_INSERT [dbo].[COMIS_DSR] OFF
SET IDENTITY_INSERT [dbo].[COMIS_PLANO] ON 

INSERT [dbo].[COMIS_PLANO] ([ID_PLANO], [DESC_PLANO], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (1, N'Plano de Comissões XYZ', CAST(N'2015-08-03 00:00:00.000' AS DateTime), CAST(N'2015-08-31 00:00:00.000' AS DateTime), N'A', CAST(N'2015-07-21 18:41:05.697' AS DateTime), N'roberto.hermes', CAST(N'2015-09-03 15:12:25.080' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_PLANO] ([ID_PLANO], [DESC_PLANO], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (3, N'Plano Teste', CAST(N'2015-06-23 00:00:00.000' AS DateTime), CAST(N'2015-06-25 00:00:00.000' AS DateTime), N'I', CAST(N'2015-07-21 18:41:05.697' AS DateTime), N'roberto.hermes', CAST(N'2015-07-21 18:41:05.697' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_PLANO] ([ID_PLANO], [DESC_PLANO], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (4, N'Plano Teste', CAST(N'2015-06-23 00:00:00.000' AS DateTime), CAST(N'2015-06-25 00:00:00.000' AS DateTime), N'I', CAST(N'2015-07-21 18:41:05.697' AS DateTime), N'roberto.hermes', CAST(N'2015-07-21 18:41:05.697' AS DateTime), N'roberto.hermes')
SET IDENTITY_INSERT [dbo].[COMIS_PLANO] OFF
SET IDENTITY_INSERT [dbo].[COMIS_PLANO_CATEGORIA] ON 

INSERT [dbo].[COMIS_PLANO_CATEGORIA] ([ID_PLANO_CATEGORIA], [ID_PLANO], [ID_CATEGORIA], [ORDEM_HIERARQUIA], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (54, 1, 6, 1, CAST(N'2015-09-11 13:53:55.687' AS DateTime), N'roberto.hermes', CAST(N'2015-09-11 13:53:55.687' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_PLANO_CATEGORIA] ([ID_PLANO_CATEGORIA], [ID_PLANO], [ID_CATEGORIA], [ORDEM_HIERARQUIA], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (55, 1, 10, 2, CAST(N'2015-09-11 13:53:55.707' AS DateTime), N'roberto.hermes', CAST(N'2015-09-11 13:53:55.707' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_PLANO_CATEGORIA] ([ID_PLANO_CATEGORIA], [ID_PLANO], [ID_CATEGORIA], [ORDEM_HIERARQUIA], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (56, 1, 1, 3, CAST(N'2015-09-11 13:53:55.707' AS DateTime), N'roberto.hermes', CAST(N'2015-09-11 13:53:55.707' AS DateTime), N'roberto.hermes')
SET IDENTITY_INSERT [dbo].[COMIS_PLANO_CATEGORIA] OFF
SET IDENTITY_INSERT [dbo].[COMIS_PLANO_LOJA] ON 

INSERT [dbo].[COMIS_PLANO_LOJA] ([ID_PLANO_LOJA], [ID_PLANO], [CODIGOLOJAALTERNATE], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (2, 1, N'02LEGACYP6', CAST(N'2015-09-01 00:00:00.000' AS DateTime), CAST(N'2015-10-01 00:00:00.000' AS DateTime), N'A', CAST(N'2015-09-04 13:49:43.970' AS DateTime), N'roberto.hermes', CAST(N'2015-09-08 10:59:22.437' AS DateTime), N'roberto.hermes')
SET IDENTITY_INSERT [dbo].[COMIS_PLANO_LOJA] OFF
SET IDENTITY_INSERT [dbo].[COMIS_SELF_SERVICE] ON 

INSERT [dbo].[COMIS_SELF_SERVICE] ([ID_SELF_SERVICE], [CODIGOCARGOALTERNATE], [CODIGOLOJAALTERNATE], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (1, N'AI', N'3022510561', CAST(N'2015-06-23 00:00:00.000' AS DateTime), CAST(N'2015-06-25 00:00:00.000' AS DateTime), N'A', CAST(N'2015-07-21 18:28:59.797' AS DateTime), N'roberto.hermes', CAST(N'2015-08-31 16:42:20.200' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_SELF_SERVICE] ([ID_SELF_SERVICE], [CODIGOCARGOALTERNATE], [CODIGOLOJAALTERNATE], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (3, N'AD', N'02LEGACYP6', CAST(N'2015-06-23 00:00:00.000' AS DateTime), CAST(N'2015-06-25 00:00:00.000' AS DateTime), N'I', CAST(N'2015-07-21 18:28:59.797' AS DateTime), N'roberto.hermes', CAST(N'2015-07-21 18:28:59.797' AS DateTime), N'roberto.hermes')
INSERT [dbo].[COMIS_SELF_SERVICE] ([ID_SELF_SERVICE], [CODIGOCARGOALTERNATE], [CODIGOLOJAALTERNATE], [DT_INI], [DT_FIM], [STATUS], [CREATED_DATETIME], [CREATED_USERNAME], [LAST_MODIFY_DATE], [LAST_MODIFY_USERNAME]) VALUES (4, N'AD', N'02LEGACYP6', CAST(N'2015-06-23 00:00:00.000' AS DateTime), CAST(N'2015-06-25 00:00:00.000' AS DateTime), N'I', CAST(N'2015-07-21 18:28:59.797' AS DateTime), N'roberto.hermes', CAST(N'2015-07-21 18:28:59.797' AS DateTime), N'roberto.hermes')
SET IDENTITY_INSERT [dbo].[COMIS_SELF_SERVICE] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_CONFIGURACAO_DESC_CHAVE]    Script Date: 20/10/2015 10:46:57 ******/
ALTER TABLE [dbo].[COMIS_CONFIGURACAO] ADD  CONSTRAINT [UQ_CONFIGURACAO_DESC_CHAVE] UNIQUE NONCLUSTERED 
(
	[DESC_CHAVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_COMIS_CONTROLE_ACESSO_CODIGOSECUNDARIO_CODIGOEMPRESAALTERNATE_CODIGOFILIALALTERNATE]    Script Date: 20/10/2015 10:46:57 ******/
ALTER TABLE [dbo].[COMIS_CONTROLE_ACESSO] ADD  CONSTRAINT [UQ_COMIS_CONTROLE_ACESSO_CODIGOSECUNDARIO_CODIGOEMPRESAALTERNATE_CODIGOFILIALALTERNATE] UNIQUE NONCLUSTERED 
(
	[CODIGOSECUNDARIO] ASC,
	[CODIGOEMPRESAALTERNATE] ASC,
	[CODIGOFILIALALTERNATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_COMIS_CONTROLE_ACESSO_LOGIN]    Script Date: 20/10/2015 10:46:57 ******/
ALTER TABLE [dbo].[COMIS_CONTROLE_ACESSO] ADD  CONSTRAINT [UQ_COMIS_CONTROLE_ACESSO_LOGIN] UNIQUE NONCLUSTERED 
(
	[LOGIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_COMIS_DOLAR_MEDIO_ID_PLANO_DT_INI_DT_FIM]    Script Date: 20/10/2015 10:46:57 ******/
ALTER TABLE [dbo].[COMIS_DOLAR_MEDIO] ADD  CONSTRAINT [UQ_COMIS_DOLAR_MEDIO_ID_PLANO_DT_INI_DT_FIM] UNIQUE NONCLUSTERED 
(
	[ID_PLANO] ASC,
	[DT_INI] ASC,
	[DT_FIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_COMIS_PLANO_CATEGORIA_ID_PLANO_ID_CATEGORIA]    Script Date: 20/10/2015 10:46:57 ******/
ALTER TABLE [dbo].[COMIS_PLANO_CATEGORIA] ADD  CONSTRAINT [UQ_COMIS_PLANO_CATEGORIA_ID_PLANO_ID_CATEGORIA] UNIQUE NONCLUSTERED 
(
	[ID_PLANO] ASC,
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COMIS_AUSENCIA_REMUNERADA]  WITH CHECK ADD  CONSTRAINT [FK_COMIS_AUSENCIA_REMUNERADA_COMIS_CONTROLE_ACESSO] FOREIGN KEY([COLABORADORKEY])
REFERENCES [dbo].[COMIS_CONTROLE_ACESSO] ([COLABORADORKEY])
GO
ALTER TABLE [dbo].[COMIS_AUSENCIA_REMUNERADA] CHECK CONSTRAINT [FK_COMIS_AUSENCIA_REMUNERADA_COMIS_CONTROLE_ACESSO]
GO
ALTER TABLE [dbo].[COMIS_CATEGORIA_PERCENTUAL]  WITH CHECK ADD  CONSTRAINT [FK_COMIS_CATEGORIA_PERCENTUAL_COMIS_PLANO_CATEGORIA] FOREIGN KEY([ID_PLANO_CATEGORIA])
REFERENCES [dbo].[COMIS_PLANO_CATEGORIA] ([ID_PLANO_CATEGORIA])
GO
ALTER TABLE [dbo].[COMIS_CATEGORIA_PERCENTUAL] CHECK CONSTRAINT [FK_COMIS_CATEGORIA_PERCENTUAL_COMIS_PLANO_CATEGORIA]
GO
ALTER TABLE [dbo].[COMIS_CONTROLE_ACESSO]  WITH CHECK ADD  CONSTRAINT [FK_COMIS_CONTROLE_ACESSO_COMIS_CONTROLE_ACESSO] FOREIGN KEY([COLABORADORKEY_PAI])
REFERENCES [dbo].[COMIS_CONTROLE_ACESSO] ([COLABORADORKEY])
GO
ALTER TABLE [dbo].[COMIS_CONTROLE_ACESSO] CHECK CONSTRAINT [FK_COMIS_CONTROLE_ACESSO_COMIS_CONTROLE_ACESSO]
GO
ALTER TABLE [dbo].[COMIS_DOLAR_MEDIO]  WITH CHECK ADD  CONSTRAINT [FK_COMIS_DOLAR_MEDIO_COMIS_PLANO1] FOREIGN KEY([ID_PLANO])
REFERENCES [dbo].[COMIS_PLANO] ([ID_PLANO])
GO
ALTER TABLE [dbo].[COMIS_DOLAR_MEDIO] CHECK CONSTRAINT [FK_COMIS_DOLAR_MEDIO_COMIS_PLANO1]
GO
ALTER TABLE [dbo].[COMIS_PLANO_CATEGORIA]  WITH CHECK ADD  CONSTRAINT [FK_COMIS_PLANO_CATEGORIA_COMIS_CATEGORIA] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[COMIS_CATEGORIA] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[COMIS_PLANO_CATEGORIA] CHECK CONSTRAINT [FK_COMIS_PLANO_CATEGORIA_COMIS_CATEGORIA]
GO
ALTER TABLE [dbo].[COMIS_PLANO_CATEGORIA]  WITH CHECK ADD  CONSTRAINT [FK_COMIS_PLANO_CATEGORIA_COMIS_PLANO] FOREIGN KEY([ID_PLANO])
REFERENCES [dbo].[COMIS_PLANO] ([ID_PLANO])
GO
ALTER TABLE [dbo].[COMIS_PLANO_CATEGORIA] CHECK CONSTRAINT [FK_COMIS_PLANO_CATEGORIA_COMIS_PLANO]
GO
ALTER TABLE [dbo].[COMIS_PLANO_LOJA]  WITH CHECK ADD  CONSTRAINT [FK_COMIS_PLANO_LOJA_COMIS_PLANO] FOREIGN KEY([ID_PLANO])
REFERENCES [dbo].[COMIS_PLANO] ([ID_PLANO])
GO
ALTER TABLE [dbo].[COMIS_PLANO_LOJA] CHECK CONSTRAINT [FK_COMIS_PLANO_LOJA_COMIS_PLANO]
GO
ALTER TABLE [dbo].[COMIS_AUSENCIA_REMUNERADA]  WITH CHECK ADD  CONSTRAINT [CK_COMIS_AUSENCIA_REMUNERADA_STATUS] CHECK  (([STATUS]='I' OR [STATUS]='A'))
GO
ALTER TABLE [dbo].[COMIS_AUSENCIA_REMUNERADA] CHECK CONSTRAINT [CK_COMIS_AUSENCIA_REMUNERADA_STATUS]
GO
ALTER TABLE [dbo].[COMIS_CATEGORIA]  WITH CHECK ADD  CONSTRAINT [CK_COMIS_CATEGORIA_STATUS] CHECK  (([STATUS]='I' OR [STATUS]='A'))
GO
ALTER TABLE [dbo].[COMIS_CATEGORIA] CHECK CONSTRAINT [CK_COMIS_CATEGORIA_STATUS]
GO
ALTER TABLE [dbo].[COMIS_CATEGORIA_PERCENTUAL]  WITH CHECK ADD  CONSTRAINT [CK_COMIS_CATEGORIA_PERCENTUAL_STATUS] CHECK  (([STATUS]='I' OR [STATUS]='A'))
GO
ALTER TABLE [dbo].[COMIS_CATEGORIA_PERCENTUAL] CHECK CONSTRAINT [CK_COMIS_CATEGORIA_PERCENTUAL_STATUS]
GO
ALTER TABLE [dbo].[COMIS_CONTROLE_ACESSO]  WITH CHECK ADD  CONSTRAINT [CK_COMIS_CONTROLE_ACESSO_ADMIN] CHECK  (([ADMIN]='N' OR [ADMIN]='S'))
GO
ALTER TABLE [dbo].[COMIS_CONTROLE_ACESSO] CHECK CONSTRAINT [CK_COMIS_CONTROLE_ACESSO_ADMIN]
GO
ALTER TABLE [dbo].[COMIS_CONTROLE_ACESSO]  WITH CHECK ADD  CONSTRAINT [CK_COMIS_CONTROLE_ACESSO_STATUS] CHECK  (([STATUS]='I' OR [STATUS]='A'))
GO
ALTER TABLE [dbo].[COMIS_CONTROLE_ACESSO] CHECK CONSTRAINT [CK_COMIS_CONTROLE_ACESSO_STATUS]
GO
ALTER TABLE [dbo].[COMIS_DOLAR_MEDIO]  WITH CHECK ADD  CONSTRAINT [CK_COMIS_DOLAR_MEDIO_TIPO_TAXA] CHECK  (([TIPO_TAXA]='D' OR [TIPO_TAXA]='M'))
GO
ALTER TABLE [dbo].[COMIS_DOLAR_MEDIO] CHECK CONSTRAINT [CK_COMIS_DOLAR_MEDIO_TIPO_TAXA]
GO
ALTER TABLE [dbo].[COMIS_DSR]  WITH CHECK ADD  CONSTRAINT [CK_COMIS_DSR_STATUS] CHECK  (([STATUS]='I' OR [STATUS]='A'))
GO
ALTER TABLE [dbo].[COMIS_DSR] CHECK CONSTRAINT [CK_COMIS_DSR_STATUS]
GO
ALTER TABLE [dbo].[COMIS_PLANO]  WITH CHECK ADD  CONSTRAINT [CK_COMIS_PLANO_STATUS] CHECK  (([STATUS]='I' OR [STATUS]='A'))
GO
ALTER TABLE [dbo].[COMIS_PLANO] CHECK CONSTRAINT [CK_COMIS_PLANO_STATUS]
GO
ALTER TABLE [dbo].[COMIS_PLANO_LOJA]  WITH CHECK ADD  CONSTRAINT [CK_COMIS_COMIS_PLANO_LOJA_STATUS] CHECK  (([STATUS]='I' OR [STATUS]='A'))
GO
ALTER TABLE [dbo].[COMIS_PLANO_LOJA] CHECK CONSTRAINT [CK_COMIS_COMIS_PLANO_LOJA_STATUS]
GO
ALTER TABLE [dbo].[COMIS_SELF_SERVICE]  WITH CHECK ADD  CONSTRAINT [CK_COMIS_SELF_SERVICE_STATUS] CHECK  (([STATUS]='I' OR [STATUS]='A'))
GO
ALTER TABLE [dbo].[COMIS_SELF_SERVICE] CHECK CONSTRAINT [CK_COMIS_SELF_SERVICE_STATUS]
GO
USE [master]
GO
