@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "NotFound.";
}
 

<h1 class="headerForm">Oops! NotFound...</h1>

<p>
    <a href="javascript:history.go(-1)">Clique aqui</a>
    para voltar para a página anterior.
</p>
<p></p>
<p></p>

