@model ControleAcesso

@{
    string admin = "N";
    string status = "I";
    
    if (Model != null)
    {
        if (Model.STATUS == "A")
        {
            admin = Model.ADMIN;    
        }

        status = Model.STATUS;
        
    }
}
<ul id="sidemenu">
@{
    if (status == "A")
    {
        if (admin == "S")
        {
            <li>@Html.Raw(string.Format("<a href=\"{0}\">Categorias</a>", Url.Content("~/Categoria/CategoriaIndex?statusSearchString=A")))</li>
            <li>@Html.Raw(string.Format("<a href=\"{0}\">Categorias e percentuais por loja</a>", Url.Content("~/CategoriaPercentual/CategoriaPercentualIndex?statusSearchString=A")))</li>
            <li>Planos de comissões e hierarquias</li>
            <li>Comissões “Self Service”</li>
            <li>Ausência Remunerada</li>
            <li>DSR</li>
            <li>Taxa de dólar</li>
            <li>Controle de Acesso</li>
        }
        <li>Comissões</li>        
    }
}
</ul>
    






