*
{
	margin: 0px;
	padding: 0px;
	border: none;

}

body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    background-color: #F8F8FF;
    /*background-color: #c2101c;*/
	padding: 0px 2%;
}

#header
{
	/*float: left;*/
	width: 100%;
    background-color: #c2101c;
    border-bottom: 1px solid #FF0000;
	margin-bottom: 10px;

}

#header h1
{
	/*font-size: 18px;
	float: left;*/
    padding: 0px 0px 0px 0px;
}

#main
{
	overflow: hidden;
	padding: 0 0 15px 10px;
	float: left;
    height: 609px;
    width: 1108px;
    background-color: #F8F8FF;
 }

#footer
{
    clear: both;
    padding: 10px;
    text-align: right;
    background-color: #c2101c;
    border-top: 1px solid #FF0000;
    border-bottom: 1px solid #FF0000;
    color: #FFFFFF;
}

/************************************************************************************/
/*                                    até aqui ok                                   */
/************************************************************************************/

#container
{
	float: left;
}






/*#promotion
{
	height: 300px; 
	width: 700px; 
	background: url(/content/Images/home-showcase.png) no-repeat;
}*/

ul li a
{
	font-size: 12px;
}

/*#main
{
	overflow: hidden;
	padding: 0 0 15px 10px;
	float: left;
}*/

ul
{
	list-style-type: square;
	margin-left: 25px;
	font-size: 14px;
}

ul#controleacesso
{
	/*list-style-type: square;*/
	margin-left: 0px;
	font-size: 14px;
}

ul#album-list
{
	list-style: none;
	margin-left: 0px;
}

ul#album-list li
{
	height: 130px;
	width: 100px;
	float: left;
	margin: 10px;
	text-align: center;
}

ul#album-list li a, ul#album-list li .button
{
	font-size: 13px;
	float: left;
}

ul#album-list li a span
{
	color: #9b9993;
	text-decoration: underline;
}

#cart
{
	float: right;
}

#update-message
{
	color: #F6855E;
	font-weight: bold;
}

/*.button, input[type=submit]
{
	clear: both;
	display: inline-block;
	padding: 5px;
	margin-top: 10px; 
	border: 1px;
	background: #5e5b54;
	color: #fff;
	font-weight: bold;
}*/

.button a
{
	color: #fff !important;
}

/*#footer
{
	clear: both;
	padding: 10px;
	text-align: right;
    border-top: 1px solid #FF0000;
    border-bottom: 1px solid #FF0000;
	font-family: Constantia, Georgia, serif;
}*/

/******************** Top Navigation ************************/
ul#navlist
{
	float: right;
    padding: 10px;
    margin-top: 10px;
}

ul#navlist li
{
	display: inline;

	color: #8A8575;
    padding-left: 5px;
	text-decoration: none;
	float: left;
}

ul#navlist li a
{
	border-left: 1px dotted #8A8575;
    padding-left: 5px;
	color: #8A8575;
	text-decoration: none;
	float: left;
}

ul#navlist li:first-child a
{
	border: none;
}

ul#navlist li a:hover
{
	color: #F6855E;
}

/********************* End top navigation ***************************/

p
{
	margin-bottom: 15px;
	margin-top: 0px;
}

h2
{
	color: #5e5b54;
}

h1
{
	font-size: 16px;
    /*margin-bottom: 10px;*/
}

h2, h3
{
	margin-bottom: 10px;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
}

h3
{
	color: #9B9993;
}

#header h1 a, h3 em
{
	color: #5E5B54;
}

a:link, a:visited
{
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

a:hover
{
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}

a:active
{
	color: #006633;
	text-decoration: none;
	font-weight: bold;
}

/***************************** sidebar navigation ****************************/

#sidemenu   
{
    background-color: #F8F8FF;
	list-style-type: none;
    border-right: 1px solid #FF0000;
	padding-right: 15px;
	margin: 0 5px 0 0;
	float: left;
    height: 609px;
    width: 215px;
}

ul#sidemenu
{
	font-size: 12px;
    line-height: 200%;
}

#sidemenu a:link, #sidemenu a:visited
{
	color: #000000;
    font-size: 12px;
	text-decoration: none;
}

#sidemenu a:hover
{
    font-size: 12px;
	color: #c2101c;
}

/************************************************************************************/
/*                                    até aqui ok                                   */
/************************************************************************************/

div#album-details p
{
	margin-bottom: 5px;
	color: #5e5b54;
	font-weight: bold;
}

p em
{
	color: #9b9993;
}

/* Form styles */
legend
{
	padding: 10px;
	font-weight: bold;
}

fieldset
{
	border: #9b9993 1px solid;
	padding: 0 10px;
	margin-bottom: 10px;
	clear: left;
}

div.editor-field
{
	margin-bottom: 10px;
}

input[type=text], input[type=password], select
{
	border: 1px solid #8A8575;
	width: 300px;
}

/* Styles for validation helpers */
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Tables */
table
{
	border: 1px solid #000;
	border-collapse: collapse;
	color: #000;
	min-width: 500px;
	width: 100%;
}

tr
{
	border: 1px solid #000;
	line-height: 25px;
}

th
{
	background-color: #c2101c;
	color: #ffffff;
	font-size: 13px;
	text-align: left;
}

th, td
{
	padding-left: 5px;
}

tr:hover
{
	background-color: #808080;
    color: #ffffff;
}

tr:link, a:visited
{
	color: #F8F8FF;
}

tr:link, a:hover
{
	color: #000000;
}

a.tablerowlink
{
	color: #c2101c;
}

a.tableheadlink
{
	color: #F8F8FF;
}

tr:hover a.tablerowlink {
    color: white;
}

/************************************************************************************/
/*                                      classes                                     */
/************************************************************************************/
.headerForm
{
	font-size: 16px;
    margin-bottom: 20px;
}
.errorMessage, .confirmMessage
{
	font-size: 16px;
    margin-bottom: 20px;
}
.confirmMessage
{
    color: #c2101c;
    font-weight: bold;
}
a.create
{
	color: #c2101c;
}

.editor label {
  float: left;
  width: 30px;   
  text-align: right; 
}

.editor input[type=text] {
  width: 80px; 
  margin: 0 0 0 50px; 
}

.caption {
  float: left;
  width: 70px;   
  text-align: right; 
  font-weight: bold;
  margin: 0 10px 0 0; 
}

.description {
  float: left;
  text-align: left; 
}

.botoes input[type=submit] {
    font-weight: bold;
    color: #fff;
    padding:5px 15px; background:#c2101c; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    margin: 10px 10px 10px 0; 
}

/************************************************************************************/
.buscaCategoria label {
  float: left;
  width: 70px;   
  text-align: right; 
  padding-top: 6px;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 15px;
    padding-left: 15px;
}

.buscaCategoria input[type=text] {
  width: 200px; 
  margin: 0 0 0 10px; 

  /*display: block;*/
    /*width: 100%;*/
    height: 12px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}
.buscaCategoria input[type=radio] {
  margin: 5px 0 0 10px;
  text: right;  
}

.editorCategoria label {
  float: left;
  width: 70px;   
  text-align: right; 
  padding-top: 6px;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 15px;
    padding-left: 15px;
}

.editorCategoria input[type=text] {
  width: 200px; 
  margin: 0 0 0 10px; 

  /*display: block;*/
    /*width: 100%;*/
    height: 12px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}

.editorCategoria select {
    width: 200px;
    margin: 0 0 0 10px; 

    height: 28px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    /*-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.editorCategoria input[type=radio] {
  margin: 5px 0 0 10px;
  text: right;  
}

.botoesCategoria, a.botoesCategoria {
    font-weight: bold;
    background-color:#c2101c; 
    color: #fff;
    padding:5px 15px; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
    -webkit-border-radius: 5px;
    margin: 10px 10px 10px 0; 
}



/************************************************************************************/

