@model IEnumerable<Categoria>
@{
    ViewBag.Title = "Categorias";
}

<div class="categorias">
    <ul id="zzzz">
            @foreach (var categoria in Model)
            {
                <li>@categoria.DESC_CATEGORIA</li>
            }
        </ul>


</div>
